@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
}

nav {
    background: #54E9BD;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

nav h1 {
    font-size: 34px;
    line-height: 80px;
    padding: 0 100px;
}

label.logo {
    color: rgb(255, 255, 255);
    font-size: 34px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: 700;
}


nav ul {
    float: right;
    margin-right: 20px;   
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: 700;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}

a.active, a:hover {
    background: #2a9675;
    transition: 0.5s;
}

.check-btn {
    font-size: 30px;
    color: rgb(0, 0, 0);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

nav button {
    border: none;
    padding: 10px 12px;
    border-radius: 20px;
    font-size: 1.1vw;
    font-weight: 500;
    background: seagreen;
    color: white;
    cursor: pointer;
}

/* Home section styles */

#home {
    background: url(https://images.unsplash.com/photo-1514986888952-8cd320577b68?q=80&w=1476&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    padding: 50px 20px;
    text-align: center;
    margin-top: 80px;
    height: 100vh;
    padding-top: 12%;
}

.home-left {
    margin-bottom: 20px;
}

.home-left h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.home-left h1 span {
    color: #3bb143; /* Green color for 'healthy' */
}

.home-left h3 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.home-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.home-right .home-right-mid {
    margin: 20px 0;
}

.home-right .home-right-mid i {
    font-size: 2rem;
    margin-right: 10px;
}

#home button {
    border: 3px solid seagreen;
    padding: 10px 20px;
    border-radius: 25px;
    color: seagreen;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}

/* Services section styles */

#services {
    /* padding: 50px 20px; */
    padding-top: 10%;
    text-align: center;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
}

.services1,
.services2,
.services3 {
    margin-bottom: 40px;
    height: 400px;
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 12px;
}

.services {
    margin-bottom: 20px;
}

.services1 {
    background-image: url(https://images.unsplash.com/photo-1495521821757-a1efb6729352?q=80&w=1452&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
}

.services2 {
    background-image: url(https://images.unsplash.com/photo-1493612276216-ee3925520721?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fHBsYW5uaW5nfGVufDB8fDB8fHww);
    background-size: cover;
}

.services3 {
    background-image: url(https://images.unsplash.com/photo-1620706857370-e1b9770e8bb1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8bnV0cml0aW9ufGVufDB8fDB8fHww);
    background-size: cover;
}

.services1 h1, .services2 h1, .services3 h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #ffffff;
}

.services1 h2, .services2 h2, .services3 h2 {
    font-size: 1rem;
    margin-bottom: 20px;
}

.services1 button, .services2 button, .services3 button {
    padding: 10px 20px;
    background-color: #333;
    border-radius: 7px;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.services1 button:hover, .services2 button:hover, .services3 button:hover {
    background-color: #555;
}

/* Reviews section styles */
#reviews {
    background-color: #fff;
    padding-top: 10%;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    height: 100vh;
}

.rev-top h1 {
    font-size: 2.3rem;
    margin-bottom: 10px;
}

.rev-top h3 {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.rev-btm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.rev-btm .div1,
.rev-btm .div2,
.rev-btm .div3 {
    flex: 1;
    margin: 0 10px;
    border: 2px solid seagreen;
    border-radius: 15px;
    height: 300px;
    padding: 20px;
}

.rev-btm img {
    width: 100%;
    max-width: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.rev-btm h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.rev-btm p {
    font-size: 1rem;
}

/* About Us section styles */
#aboutus {
    padding-top: 12%;
    text-align: center;
    height: 100vh;
}

.aboutus-top h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.aboutus-top h3 {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.aboutus-top button {
    padding: 10px 20px;
    background-color: #333;
    border-radius: 10px;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.aboutus-top button:hover {
    background-color: #555;
}

.aboutus-btm {
    border-top: 1px solid black;
    padding-top: 6%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.aboutus-btm .div1,
.aboutus-btm .div2,
.aboutus-btm .div3 {
    flex: 1;
    margin: 0 10px;
}

.aboutus-btm h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.aboutus-btm span {
    font-size: 1rem;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}


/* Nav Bar Responsive  */

@media (max-width: 952px) {
    label.logo {
        font-size: 23px;
        padding-left: 50px;
    }
    
    nav ul li a {
        font-size: 16px;
    }

    nav ul li button {
        font-size: 16px;
        padding: 12px 20px;
    }
}

@media (max-width: 600px) {
    .check-btn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(69, 228, 69);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px
    }

    a:hover, a.active {
        background: none;
        color: white;
    }

    #check:checked ~ ul {
        left: 0;
    }
}


/* Responsive styles */
@media screen and (max-width: 768px) {
    
    #home {
        padding-top: 34%;
        height: 90vh;
    }
    .home-left h1 {
        font-size: 2.4rem;
    }

    .home-left h3 {
        font-size: 1.5rem;
    }

    .home-right .home-right-mid i {
        font-size: 2rem;
        color: white;
    }

    #services {
        flex-direction: column;
        margin-top: 20%;
        height: 140vh;
    }

    .services h1 {
        font-size: 1.2rem;
    }

    .services h2 {
        font-size: 1rem;
    }

    .rev-top h1 {
        font-size: 1.5rem;
    }

    .rev-top h3 {
        font-size: 1rem;
    }

    .rev-btm {
        flex-direction: column;
        gap: 10px;
    }

    #reviews {
        height: 160vh;
        padding-top: 20%;
        margin-bottom: 10px;
    }

    .rev-btm .div1,
    .rev-btm .div2,
    .rev-btm .div3 {
        height: 5px;
        padding: 5 7px;
        width: 350px;
    }

    .rev-btm img {
        max-width: 60px;
    }

    .rev-btm h3 {
        font-size: 1rem;
    }

    #aboutus {
        padding-top: 21%;
        height: 90vh;
    }
    
    .aboutus-top h2 {
        font-size: 1.2rem;
    }

    .aboutus-top h3 {
        font-size: 1rem;
    }

    .aboutus-btm h3 {
        font-size: 1rem;
    }

    .aboutus-btm span {
        font-size: 0.9rem;
    }
}